$white: hsl(0%, 0%, 100%);
$green: hsl(157%, 74%, 62%);
$blue-darker: hsl(224%, 35%, 11%);
$blue-dark: hsl(225%, 26%, 23%);
$blue: hsl(225%, 21%, 45%);
$blue-light: hsl(225%, 40%, 83%);
$font: 'Chivo', sans-serif;


